<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/stylesheets/index-style.css" />
  </head>
  <body>
    <header class="header"><h1><%= title %></h1></header>
    <main class="main">
      <% if (messages.length > 0) { %> <% messages.forEach(message => { %>
      <div class="message">
        <p class="message__text"><%=message.text %></p>
        <p class="message__user">
          By <%= message.user %> on <%= message.added %>
        </p>
      </div>
      <% }); %> <% }%>

      <a class="add-messages-link" href="/new"> Add new message</a>
    </main>
  </body>
</html>
